@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
body
{
  background-color: #112D4E;
}
.resim img
{
  width: 300px;
}
.text
{
  font-family: "Poppins", sans-serif;
  color: #fff;
  letter-spacing: 3px;
  margin-bottom: 50px;
  margin-left: 20px;
}
.cointainer
{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 180px;
}
.content
{
  display: block;
  text-align: center;
}
a
{
  text-decoration: none;
  margin-right: 30px;
}
i
{
  color: #fff;
  font-size: 3rem;
  cursor: pointer;
}
i:hover
{
  color: orange;
}
